<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//ES" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="margin: 0;padding: 0;">

<head style="margin: 0;padding: 0;">
    <meta name="viewport" content="width=device-width" style="margin: 0;padding: 0;">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" style="margin: 0;padding: 0;">
    <title style="margin: 0;padding: 0;">Cocha Viajes</title>
    <style type="text/css" style="margin: 0;padding: 0;">
        h1,
        h2,
        li,
        p {
            color: #5b5b5f
        }

        body,
        table {
            height: 100%
        }

        * {
            margin: 0;
            padding: 0;

            font-family: "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif
        }

        img {
            margin: 1px 0;
            max-width: 100%
        }

        .collapse {
            margin: 0;
            padding: 0
        }

        body {
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: none;
            width: 100%!important
        }

        h3 {
            font-size: 14px
        }

        h2 {
            font-size: 20px
        }

        h1 {
            margin-bottom: -10px;
            padding: 5px;
            font-size: 25px
        }

        p {
            padding: 6px 5px 5px
        }

        b {
            padding: 8px 0
        }

        .p-xsmall,
        .p-xsmall b {
            font-size: 10px
        }

        p-nolineh {
            line-height: 0
        }

        ul {
            padding-left: 25px
        }

        li {
            padding: 5px 0
        }

        table {
            border-collapse: collapse
        }

        .smoth,
        .smoth * {
            color: #989292
        }

        .t-header {
            height: 15px;
            background-color: #5b5b5f;
            color: #fff;
            padding: 10px
        }

        .td-space {
            width: 30%
        }

        .banner,
        .content table,
        .head-wrap,
        table.body-wrap {
            width: 100%
        }

        .header.container table td.logo {
            padding: 15px
        }

        .header.container table td.label {
            padding: 15px 15px 15px 0
        }

        .no-wrap {
            white-space: nowrap
        }

        table.footer-wrap {
            width: 100%;
            clear: both!important
        }

        .footer-wrap .container td.content p {
            border-top: 1px solid #d7d7d7;
            padding-top: 15px;
            font-size: 10px;
            font-weight: 700
        }

        .bordes {
            border: 1px solid #d3d3d3
        }

        .borde-left {
            border-left: 1px solid #d3d3d3
        }

        .borde-right {
            border-right: 1px solid #d3d3d3
        }

        .borde-bottom {
            border-bottom: 1px solid #d3d3d3
        }

        .borde-top {
            border-top: 1px solid #d3d3d3
        }

        .full-h {
            height: 100%
        }

        .wrapper {
            margin: auto;
            max-width: 700px
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            line-height: 1.1;
            padding-left: 5px
        }

        .container {
            display: block!important;
            margin: 0 auto!important;
            clear: both!important
        }

        .clear,
        .content,
        .desktop {
            display: block
        }

        .content {
            padding: 10px 5px 0;
            margin: 0 auto
        }

        .no-padding {
            padding: 0!important
        }

        .pad-v-2 {
            padding-top: 2px;
            padding-bottom: 2px
        }

        .pad-h-2 {
            padding-left: 2px;
            padding-right: 2px
        }

        .column {
            width: 300px;
            float: left
        }

        .column tr td {
            padding: 15px
        }

        .column-wrap {
            padding: 0!important;
            margin: 0 auto;
            max-width: 700px!important
        }

        .column table {
            width: 100%
        }

        .clear {
            clear: both
        }

        .responsive {
            display: none
        }

        @media only screen and (max-width:700px) {
            h3,
            p {
                font-size: 12px
            }
            h2 {
                font-size: 15px
            }
            h1 {
                font-size: 20px
            }
            small {
                font-size: 11px
            }
            .p-xsmall,
            .p-xsmall b {
                font-size: 10px
            }
            .td-space {
                width: 10%
            }
            .desktop {
                display: none
            }
            .responsive {
                display: block
            }
        }
    </style>
</head>

<body style="margin: 0;padding: 0;height: 100%;-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: none;width: 100%!important;">
    <script type="application/ld+json" style="margin: 0;padding: 0;">
        {{googleSchemaHotel}}
    </script>
    <script type="application/ld+json" style="margin: 0;padding: 0;">
        {{googleSchemaFlight}}
    </script>
    <div class="wrapper bordes" style="margin: auto;padding: 0;border: 1px solid #d3d3d3;max-width: 700px;">
        <table class="head-wrap" style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
            <tr style="margin: 0;padding: 0;">
                <td style="margin: 0;padding: 0;"></td>
                <td class="header container" style="margin: 0 auto!important;padding: 0;display: block!important;clear: both!important;">
                    <div class="content" style="margin: 0 auto;padding: 10px 5px 0;display: block;">
                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                            <tr style="margin: 0;padding: 0;">
                                <td colspan="2" style="margin: 0;padding: 0;"> <a href="http://www.cocha.com" style="margin: 0;padding: 0;"> <img style="width: 100%;margin: 1px 0;padding: 0;max-width: 100%;" src="https://gallery.mailchimp.com/cf8e3f784ee65fee4bea0e12f/images/bd468681-479b-470f-b77b-cf5004b52ef2.png" alt="Header"> </a></td>
                            </tr>
                            <tr style="margin: 0;padding: 0;">
                                <td align="center" colspan="2" class="t-header" style="margin: 0;padding: 10px;height: 15px;background-color: #5b5b5f;color: #fff;">
                                    <h3 style="margin: 0;padding: 0;font-size: 14px;line-height: 1.1;padding-left: 5px;">CONFIRMACIÓN DE COMPRA</h3>
                                </td>
                            </tr>
                            <tr style="margin: 0;padding: 0;">
                                <td colspan="2" style="margin: 0;padding: 0;"> <img class="banner desktop" src="https://gallery.mailchimp.com/cf8e3f784ee65fee4bea0e12f/images/516c0f12-ef1e-404c-b094-cf612c0c2390.png"
                                        alt="Header Banner" style="margin: 1px 0;padding: 0;max-width: 100%;width: 100%;display: block;"></td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td style="margin: 0;padding: 0;"></td>
            </tr>
        </table>


        <table class="body-wrap" bgcolor="" style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
            <tr style="margin: 0;padding: 0;">
                <td style="margin: 0;padding: 0;"></td>
                <td class="container" bgcolor="#FFFFFF" style="margin: 0 auto!important;padding: 0;display: block!important;clear: both!important;">
                    <div class="content" style="margin-top: 15px;margin: 0 auto;padding: 10px 5px 0;display: block;">
                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                            <tr style="margin: 0;padding: 0;">
                                <td colspan="2" style="margin: 0;padding: 0;">
                                    <h2 style="margin: 0;padding: 0;font-size: 20px;color: #5b5b5f;line-height: 1.1;padding-left: 5px;">RESUMEN DEL VIAJE</h2>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="content desktop" style="margin: 0 auto;padding: 10px 5px 0;display: block;">
                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                            <tbody style="margin: 0;padding: 0;">
                                <tr style="margin: 0;padding: 0;">
                                    <td colspan="2" class="t-header" style="margin: 0;padding: 10px;height: 15px;background-color: #5b5b5f;color: #fff;">
                                        <h3 style="margin: 0;padding: 0;font-size: 14px;line-height: 1.1;padding-left: 5px;">Datos del comprador</h3>
                                    </td>
                                </tr>
                                <tr style="margin: 0;padding: 0;">
                                    <td colspan="2" style="margin: 0;padding: 0;">
                                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                            <tr style="margin: 0;padding: 0;">
                                                <td valign="top" style="margin: 0;padding: 0;">
                                                    {{#customerInfo}}
                                                    <div class="bordes" style="padding: 5px 0;margin: 0;border: 1px solid #d3d3d3;">
                                                        <p class="padding-2" style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Nombre Comprador: {{capitalize firstName}}&nbsp;{{capitalize lastName}}</p>
                                                        <p class="padding-2" style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Rut/Pasaporte: {{rut}}</p>
                                                        <p class="padding-2" style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Teléfono de contacto: {{homePhone}}</p>
                                                        <p class="padding-2" style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">E-Mail: {{email}}</p>
                                                    </div>
                                                    {{/customerInfo}}
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="content desktop" style="margin: 0 auto;padding: 10px 5px 0;display: block;">
                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                            <tr style="margin: 0;padding: 0;">
                                <td style="height: 100%;width: 50%;margin-top: 10px;margin: 0;padding: 0;">
                                    <table align="left" style="width: 98%;margin: 0;padding: 0;height: 100%;border-collapse: collapse;">
                                        <tr style="margin: 0;padding: 0;">
                                            <td class="t-header" style="margin: 0;padding: 10px;height: 15px;background-color: #5b5b5f;color: #fff;">
                                                <h3 style="margin: 0;padding: 0;font-size: 14px;line-height: 1.1;padding-left: 5px;">Tu Viaje</h3>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="height: 100%;width: 50%;margin: 0;padding: 0;">
                                    <table align="right" style="width: 98%;margin: 0;padding: 0;height: 100%;border-collapse: collapse;">
                                        <tr style="margin: 0;padding: 0;">
                                            <td class="t-header" style="margin: 0;padding: 10px;height: 15px;background-color: #5b5b5f;color: #fff;">
                                                <h3 style="margin: 0;padding: 0;font-size: 14px;line-height: 1.1;padding-left: 5px;">Datos del hotel</h3>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr style="margin: 0;padding: 0;">
                                <td valign="top" style="height: 100%;width: 50%;margin: 0;padding: 0;">
                                    <table align="left" style="width: 98%;margin: 0;padding: 0;height: 100%;border-collapse: collapse;">
                                        {{#itineraryFlight}} {{#bookingFlights}} {{#flightDeparture}}
                                        <tr style="margin: 0;padding: 0;">
                                            <td style="margin: 0;padding: 0;">
                                                <div class="borde-bottom borde-left full-h" style="min-height: 110px;margin: 0;padding: 0;border-left: 1px solid #d3d3d3;border-bottom: 1px solid #d3d3d3;height: 100%;">
                                                    <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                                        <tr style="margin: 0;padding: 0;">
                                                            <td style="margin: 0;padding: 0;">
                                                                <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;"><b style="margin: 0;padding: 8px 0;">Vuelo de ida</b></p>
                                                            </td>
                                                        </tr>
                                                        {{#origin}}
                                                        <tr style="margin: 0;padding: 0;">
                                                            <td style="margin: 0;padding: 0;">
                                                                <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;"><b style="margin: 0;padding: 8px 0;">{{cityCode}}</b>&nbsp;/&nbsp;{{flightNumber}}&nbsp;/&nbsp;{{departureHHMM}}&nbsp;/&nbsp;{{departureD}}&nbsp;{{departureMMM}}</p>
                                                            </td>
                                                        </tr>
                                                        {{/origin}} {{#connections}}
                                                        <tr style="margin: 0;padding: 0;">
                                                            <td style="margin: 0;padding: 0;">
                                                                <p class="p-xsmall smoth pad-v-2" style="margin: 0;padding: 6px 5px 5px;font-size: 10px;color: #989292;padding-top: 2px;padding-bottom: 2px;"><b style="margin: 0;padding: 8px 0;font-size: 10px;color: #989292;">{{cityCode}}</b>&nbsp;/&nbsp;{{flightNumber}}&nbsp;/&nbsp;{{departureHHMM}}&nbsp;/&nbsp;{{departureD}}&nbsp;{{departureMMM}}</p>
                                                            </td>
                                                        </tr>
                                                        {{/connections}} {{#destination}}
                                                        <tr style="margin: 0;padding: 0;">
                                                            <td style="margin: 0;padding: 0;">
                                                                <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;"><b style="margin: 0;padding: 8px 0;">{{cityCode}}</b>&nbsp;/&nbsp;{{arrivalHHMM}}&nbsp;/&nbsp;{{arrivalD}}&nbsp;{{arrivalMMM}}</p>
                                                            </td>
                                                        </tr>
                                                        {{/destination}}
                                                    </table>
                                                </div>
                                            </td>
                                            <td style="margin: 0;padding: 0;">
                                                <div class="borde-bottom borde-right full-h" style="min-height: 110px;margin: 0;padding: 0;border-right: 1px solid #d3d3d3;border-bottom: 1px solid #d3d3d3;height: 100%;">
                                                    <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                                        <tr style="margin: 0;padding: 0;">
                                                            <td align="right" valign="top" style="margin: 0;padding: 0;">
                                                                {{#origin}}
                                                                <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">{{capitalize departureLongDate}}</p>
                                                                {{/origin}}
                                                                <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;"><b style="margin: 0;padding: 8px 0;">{{airlineCode}}</b></p>
                                                                <p class="p-xsmall smoth pad-v-2" style="margin: 0;padding: 6px 5px 5px;font-size: 10px;color: #989292;padding-top: 2px;padding-bottom: 2px;">{{cabinType}}</p>
                                                                <p class="p-xsmall smoth pad-v-2" style="margin: 0;padding: 6px 5px 5px;font-size: 10px;color: #989292;padding-top: 2px;padding-bottom: 2px;">Duración total &nbsp;{{elapsedTime}}</p>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        {{/flightDeparture}} {{/bookingFlights}} {{/itineraryFlight}}
                                    </table>
                                </td>
                                <td valign="top" style="height: 100%;width: 50%;margin: 0;padding: 0;">
                                    <table align="right" style="width: 98%;margin: 0;padding: 0;height: 100%;border-collapse: collapse;">
                                        <tr style="margin: 0;padding: 0;">
                                            <td style="margin: 0;padding: 0;">
                                                <div class="borde-bottom borde-left borde-right full-h" style="min-height: 110px;margin: 0;padding: 0;border-left: 1px solid #d3d3d3;border-right: 1px solid #d3d3d3;border-bottom: 1px solid #d3d3d3;height: 100%;">
                                                    <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                                        {{#itineraryHotel}}
                                                        <tr style="margin: 0;padding: 0;">
                                                            <td style="margin: 0;padding: 0;">
                                                                <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;"><b style="margin: 0;padding: 8px 0;">{{capitalize name}}</b></p>
                                                            </td>
                                                        </tr>
                                                        <tr style="margin: 0;padding: 0;">
                                                            <td style="margin: 0;padding: 0;"> &nbsp; {{{hotelCatImg}}}</td>
                                                        </tr>
                                                        <tr style="margin: 0;padding: 0;">
                                                            <td style="margin: 0;padding: 0;">
                                                                <p class="smoth" style="margin: 0;padding: 6px 5px 5px;color: #989292;"><small style="margin: 0;padding: 0;color: #989292;">{{{capitalize cityName}}}</small></p>
                                                            </td>
                                                        </tr>
                                                        {{/itineraryHotel}}
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr style="margin: 0;padding: 0;">
                                <td valign="top" style="height: 100%;width: 50%;margin: 0;padding: 0;">
                                    <table align="left" style="width: 98%;margin: 0;padding: 0;height: 100%;border-collapse: collapse;">
                                        {{#itineraryFlight}} {{#bookingFlights}} {{#flightReturn}}
                                        <tr style="margin: 0;padding: 0;">
                                            <td style="margin: 0;padding: 0;">
                                                <div class="borde-bottom borde-left full-h" style="min-height: 110px;margin: 0;padding: 0;border-left: 1px solid #d3d3d3;border-bottom: 1px solid #d3d3d3;height: 100%;">
                                                    <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                                        <tr style="margin: 0;padding: 0;">
                                                            <td style="margin: 0;padding: 0;">
                                                                <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;"><b style="margin: 0;padding: 8px 0;">Vuelo de regreso</b></p>
                                                            </td>
                                                        </tr>
                                                        {{#origin}}
                                                        <tr style="margin: 0;padding: 0;">
                                                            <td style="margin: 0;padding: 0;">
                                                                <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;"><b style="margin: 0;padding: 8px 0;">{{cityCode}}</b>&nbsp;/&nbsp;{{flightNumber}}&nbsp;/&nbsp;{{departureHHMM}}&nbsp;/&nbsp;{{departureD}}&nbsp;{{departureMMM}}</p>
                                                            </td>
                                                        </tr>
                                                        {{/origin}} {{#connections}}
                                                        <tr style="margin: 0;padding: 0;">
                                                            <td style="margin: 0;padding: 0;">
                                                                <p class="p-xsmall smoth pad-v-2" style="margin: 0;padding: 6px 5px 5px;font-size: 10px;color: #989292;padding-top: 2px;padding-bottom: 2px;"><b style="margin: 0;padding: 8px 0;font-size: 10px;color: #989292;">{{cityCode}}</b>&nbsp;/&nbsp;{{flightNumber}}&nbsp;/&nbsp;{{departureHHMM}}&nbsp;/&nbsp;{{departureD}}&nbsp;{{departureMMM}}</p>
                                                            </td>
                                                        </tr>
                                                        {{/connections}} {{#destination}}
                                                        <tr style="margin: 0;padding: 0;">
                                                            <td style="margin: 0;padding: 0;">
                                                                <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;"><b style="margin: 0;padding: 8px 0;">{{cityCode}}</b>&nbsp;/&nbsp;{{arrivalHHMM}}&nbsp;/&nbsp;{{arrivalD}}&nbsp;{{arrivalMMM}}</p>
                                                            </td>
                                                        </tr>
                                                        {{/destination}}
                                                    </table>
                                                </div>
                                            </td>
                                            <td style="margin: 0;padding: 0;">
                                                <div class="borde-bottom borde-right full-h" style="min-height: 110px;margin: 0;padding: 0;border-right: 1px solid #d3d3d3;border-bottom: 1px solid #d3d3d3;height: 100%;">
                                                    <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                                        <tr style="margin: 0;padding: 0;">
                                                            <td align="right" valign="top" style="margin: 0;padding: 0;">
                                                                {{#origin}}
                                                                <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">{{capitalize departureLongDate}}</p>
                                                                {{/origin}}
                                                                <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;"><b style="margin: 0;padding: 8px 0;">{{airlineCode}}</b></p>
                                                                <p class="p-xsmall smoth pad-v-2" style="margin: 0;padding: 6px 5px 5px;font-size: 10px;color: #989292;padding-top: 2px;padding-bottom: 2px;">{{cabinType}}</p>
                                                                <p class="p-xsmall smoth pad-v-2" style="margin: 0;padding: 6px 5px 5px;font-size: 10px;color: #989292;padding-top: 2px;padding-bottom: 2px;">Duración total &nbsp;{{elapsedTime}}</p>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        {{/flightReturn}} {{/bookingFlights}} {{/itineraryFlight}}
                                    </table>
                                </td>
                                <td valign="top" style="height: 100%;width: 50%;margin: 0;padding: 0;">
                                    <div style="height: 100%;margin: 0;padding: 0;">
                                        <table align="right" style="width: 98%;margin: 0;padding: 0;height: 100%;border-collapse: collapse;">
                                            <tr style="margin: 0;padding: 0;">
                                                <td style="margin: 0;padding: 0;">
                                                    <div class="borde-right borde-left borde-bottom full-h" style="min-height: 110px;margin: 0;padding: 0;border-left: 1px solid #d3d3d3;border-right: 1px solid #d3d3d3;border-bottom: 1px solid #d3d3d3;height: 100%;">
                                                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                                            {{#itineraryHotel}}
                                                            <tr style="margin: 0;padding: 0;">
                                                                <td colspan="2" style="margin: 0;padding: 0;">
                                                                    <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">{{adultCount}}&nbsp;Adultos&nbsp;|&nbsp;{{childCount}}&nbsp;Niños&nbsp;|&nbsp;{{nights}}&nbsp;Noches</p>
                                                                </td>
                                                            </tr>
                                                            <tr style="margin: 0;padding: 0;">
                                                                <td style="max-width: 30px;margin: 0;padding: 0;">
                                                                    <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Entrada</p>
                                                                </td>
                                                                <td align="right" style="margin: 0;padding: 0;">
                                                                    <p class="no-wrap" style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;white-space: nowrap;"><b style="margin: 0;padding: 8px 0;">{{capitalize checkInLongDate}}</b></p>
                                                                </td>
                                                            </tr>
                                                            <tr style="margin: 0;padding: 0;">
                                                                <td style="margin: 0;padding: 0;">
                                                                    <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Salida</p>
                                                                </td>
                                                                <td align="right" style="margin: 0;padding: 0;">
                                                                    <p class="no-wrap" style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;white-space: nowrap;"><b style="margin: 0;padding: 8px 0;">{{capitalize checkOutLongDate}}</b></p>
                                                                </td>
                                                            </tr>
                                                            <tr style="margin: 0;padding: 0;">
                                                                <td colspan="2" style="margin: 0;padding: 0;">
                                                                    <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;"> <small style="margin: 0;padding: 0;">{{capitalize notes}}</small></p>
                                                                </td>
                                                            </tr>
                                                            {{/itineraryHotel}}
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr style="margin: 0;padding: 0;">
                                {{#codReservations}}
                                <td align="left" style="margin: 0;padding: 0;">
                                    <table style="width: 98%;margin-top: 10px;margin: 0;padding: 0;height: 100%;border-collapse: collapse;">
                                        <tr style="margin: 0;padding: 0;">
                                            <td style="margin: 0;padding: 0;">
                                                <div class="borde-left borde-right" style="background-color: #f7f7f8;padding-left: 5px;margin: 0;padding: 0;border-left: 1px solid #d3d3d3;border-right: 1px solid #d3d3d3;">
                                                    <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">CÓDIGO DE RESERVA DEL VUELO</p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr style="margin: 0;padding: 0;">
                                            <td style="margin: 0;padding: 0;">
                                                <div class="borde-bottom borde-left borde-right" style="background-color: #f7f7f8;padding: 0 0 5px 5px;margin: 0;border-left: 1px solid #d3d3d3;border-right: 1px solid #d3d3d3;border-bottom: 1px solid #d3d3d3;">
                                                    <h2 style="margin: 0;padding: 0;font-size: 20px;color: #5b5b5f;line-height: 1.1;padding-left: 5px;">{{codReservaVue}}</h2>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td align="right" style="margin: 0;padding: 0;">
                                    <table style="width: 98%;margin-top: 10px;margin: 0;padding: 0;height: 100%;border-collapse: collapse;">
                                        <tr style="margin: 0;padding: 0;">
                                            <td style="margin: 0;padding: 0;">
                                                <div class="borde-left borde-right" style="background-color: #f7f7f8;padding-left: 5px;margin: 0;padding: 0;border-left: 1px solid #d3d3d3;border-right: 1px solid #d3d3d3;">
                                                    <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Nº DE RESERVA DEL HOTEL</p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr style="margin: 0;padding: 0;">
                                            <td style="margin: 0;padding: 0;">
                                                <div class="borde-bottom borde-left borde-right" style="background-color: #f7f7f8;padding: 0 0 5px 5px;margin: 0;border-left: 1px solid #d3d3d3;border-right: 1px solid #d3d3d3;border-bottom: 1px solid #d3d3d3;">
                                                    <h2 style="margin: 0;padding: 0;font-size: 20px;color: #5b5b5f;line-height: 1.1;padding-left: 5px;">{{codReservaHot}}</h2>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                {{/codReservations}}
                            </tr>
                        </table>
                    </div>
                    {{#if flagTransfer }} {{#itineraryTransfer}}
                    <div class="content desktop" style="margin: 0 auto;padding: 10px 5px 0;display: block;">
                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                            <tbody style="margin: 0;padding: 0;">
                                <tr style="margin: 0;padding: 0;">
                                    <td colspan="2" class="t-header" style="margin: 0;padding: 10px;height: 15px;background-color: #5b5b5f;color: #fff;">
                                        <h3 style="margin: 0;padding: 0;font-size: 14px;line-height: 1.1;padding-left: 5px;">Tu traslado</h3>
                                    </td>
                                </tr>
                                <tr style="margin: 0;padding: 0;">
                                    <td style="margin: 0;padding: 0; width: 50%">
                                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                            <tr style="margin: 0;padding: 0;">
                                                <td valign="top" style="margin: 0;padding: 0;">
                                                    <div style="padding: 5px 0;margin: 0;border-left: 1px solid #d3d3d3;border-bottom: 1px solid #d3d3d3;border-top: 1px solid #d3d3d3;">
                                                        <p><b>Ida</b></p>
                                                        <p style="margin-bottom: 0px;"><b><i>Desde</i></b></p>
                                                        <p style="line-height:0.9; font-size: 11px;">{{airport}}</p>
                                                        <p style="margin-bottom: 0px;"><b><i>Hasta</i></b></p>
                                                        <p style="line-height:0.9; font-size: 11px;">{{hotel}}</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="margin: 0;padding: 0;width: 50%">
                                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                            <tr style="margin: 0;padding: 0;">
                                                <td valign="top" style="margin: 0;padding: 0;">
                                                    <div style="padding: 5px 0;margin: 0;border: 1px solid #d3d3d3;">
                                                        <p><b>Vuelta</b></p>
                                                        <p style="margin-bottom: 0px;"><b><i>Desde</i></b></p>
                                                        <p style="line-height:0.9; font-size: 11px;">{{hotel}}</p>
                                                        <p style="margin-bottom: 0px;"><b><i>Hasta</i></b></p>
                                                        <p style="line-height:0.9; font-size: 11px;">{{airport}}</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr style="margin: 0;padding: 0;">
                                    <td style="margin: 0;padding: 0; width: 50%">
                                        <div style="padding: 5px 0;margin: 0;border-left: 1px solid #d3d3d3;border-bottom: 1px solid #d3d3d3; height:100%;">
                                            <p><b>Equipaje incluido(Cantidad y tamaño)</b></p>
                                            <p style="line-height:0.9; font-size: 11px;">{{baggageIncluded}}</p>
                                            <p><b>Lugar de ubicación del traslado</b></p>
                                            <p style="line-height:0.9; font-size: 11px;">{{locationTransfers}}</p>
                                        </div>
                                    </td>
                                    <td style="margin: 0;padding: 0;width: 50%">
                                        <div style="padding: 5px 0;margin: 0;border-right: 1px solid #d3d3d3;border-bottom: 1px solid #d3d3d3; height:100%;">
                                            <p><b>Documentos necesarios</b></p>
                                            <p style="line-height:0.9; font-size: 11px;">{{requiredDocuments}}</p>
                                            <p><b>Sillas de guagua</b></p>
                                            <p style="line-height:0.9; font-size: 11px;">{{babyChairs}}</p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {{/itineraryTransfer}} {{/if}}
                    {{#if flagAssistance}}
                    <div class="content desktop" style="margin: 0 auto;padding: 10px 5px 0;display: block;">
                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                            <tbody style="margin: 0;padding: 0;">
                                <tr style="margin: 0;padding: 0;">
                                    <td colspan="2" class="t-header" style="margin: 0;padding: 10px;height: 15px;background-color: #5b5b5f;color: #fff;">
                                        <h3 style="margin: 0;padding: 0;font-size: 14px;line-height: 1.1;padding-left: 5px;">Asistencia en viaje</h3>
                                    </td>
                                </tr>
                                <tr style="margin: 0;padding: 0;">
                                    <td colspan="2" style="margin: 0;padding: 0;">
                                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                            <tr style="margin: 0;padding: 0;">
                                                <td valign="top" style="margin: 0;padding: 0;">
                                                    <div class="bordes" style="padding: 5px 0;margin: 0;border: 1px solid #d3d3d3;">
                                                        <p class="padding-2" style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;"><b>Viaje protegido con Universal Assistance</b></p>
                                                        <p class="padding-2" style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Plan: Travel Care Online</p>
                                                        <p class="padding-2" style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Asistencia médica en caso de enfermedad o accidente: </p>
                                                        <ul>
                                                            <li style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Europa: EUR 30.000</li>
                                                            <li style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Sudamérica: USD 12.000</li>
                                                            <li style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Nacional: USD 2.500</li>
                                                            <li style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;">Resto del mundo: USD 20.00</li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {{/if}}
                    <br style="margin: 0;padding: 0;">
                    <div class="content" style="margin-top: 20px;padding: 15px;background-color: rgb(247, 247, 248);margin: 0 auto;display: block;">
                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                            <tr style="margin: 0;padding: 0;">
                                <td style="margin: 0;padding: 0;">
                                    <h2 style="margin: 0;padding: 0;font-size: 20px;color: #5b5b5f;line-height: 1.1;padding-left: 5px;">Políticas de cancelación</h2>
                                </td>
                            </tr>
                            <tr style="margin: 0;padding: 0;">
                                <td style="margin: 0;padding: 0;">
                                    <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;"><b style="margin: 0;padding: 8px 0;">Políticas de cancelación de Vuelo</b></p>
                                </td>
                            </tr>
                            <tr style="margin: 0;padding: 0;">
                                <td style="margin: 0;padding: 0;">
                                    <p class="smoth" style="margin: 0;padding: 6px 5px 5px;color: #989292;">Esta tarifa no es reembolsable y no puede cambiarse ni cancelarse; si decides cambiar
                                        o cancelar este programa, no se te reembolsará nada del pago.</p>
                                    <p class="smoth" style="margin: 0;padding: 6px 5px 5px;color: #989292;">Pese a lo anterior, cualquier devolución total o parcial que voluntariamente realice
                                        el/los proveedor/es por servicios que no hayan sido utilizados, se entregará al cliente
                                        de forma posterior y descontadas las multas impuestas por los proveedores.</p>
                                </td>
                            </tr>
                            {{#if flagTransfer}}
                            <tr style="margin: 0;padding: 0;">
                                <td style="margin: 0;padding: 0;">
                                    <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;"><b style="margin: 0;padding: 8px 0;">Políticas de cancelación del traslado</b></p>
                                </td>
                            </tr>
                            <tr style="margin: 0;padding: 0;">
                                <td style="margin: 0;padding: 0;">
                                    <p class="smoth" style="margin: 0;padding: 6px 5px 5px;color: #989292;">{{#itineraryTransfer}}{{cancellationPolicy}}{{/itineraryTransfer}}</p>
                                </td>
                            </tr>     
                            {{/if}}                       
                            <tr style="margin: 0;padding: 0;">
                                <td style="margin: 0;padding: 0;">
                                    <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;"><b style="margin: 0;padding: 8px 0;">Políticas de cancelación Hotel</b></p>
                                </td>
                            </tr>
                            <tr style="margin: 0;padding: 0;">
                                <td style="margin: 0;padding: 0;">
                                    <p class="smoth" style="margin: 0;padding: 6px 5px 5px;color: #989292;">{{#itineraryHotel}} {{{cancellationPolicy}}} {{/itineraryHotel}}</p>
                                </td>
                            </tr>

                            <tr style="margin: 0;padding: 0;">
                                <td style="margin: 0;padding: 0;">
                                    <br style="margin: 0;padding: 0;">
                                    <h2 style="margin: 0;padding: 0;font-size: 20px;color: #5b5b5f;line-height: 1.1;padding-left: 5px;">Instrucciones de checkin</h2>
                                </td>
                            </tr>
                            <tr style="margin: 0;padding: 0;">
                                <td style="margin: 0;padding: 0;">
                                    <p class="smoth" style="margin: 0;padding: 6px 5px 5px;color: #989292;">{{#itineraryHotel}} {{{policyDescription}}} {{/itineraryHotel}}</p>
                                </td>
                            </tr>
                            {{#itineraryHotel}} {{#if mandatoryFeeDescription}}
                            <tr style="margin: 0;padding: 0;">
                                <td style="margin: 0;padding: 0;">
                                    <p style="margin: 0;padding: 6px 5px 5px;color: #5b5b5f;"><b style="margin: 0;padding: 8px 0;">Cargos</b></p>
                                    <p class="smoth" style="margin: 0;padding: 6px 5px 5px;color: #989292;">{{{mandatoryFeeDescription}}}</p>
                                </td>
                            </tr>
                             {{/if}}{{/itineraryHotel}}
                        </table>
                    </div>
                    <div class="content" style="margin: 0 auto;padding: 10px 5px 0;display: block;">
                        <table bgcolor="" style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                            <tr style="margin: 0;padding: 0;">
                                <td align="center" style="margin: 0;padding: 0;">
                                    <h2 style="margin: 0;padding: 0;font-size: 20px;color: #5b5b5f;line-height: 1.1;padding-left: 5px;">¿Dudas?</h2>
                                    <p class="smoth" style="margin: 0;padding: 6px 5px 5px;color: #989292;">Si aún tienes dudas o consultas, contáctate con nosotros llamando al <b style="margin: 0;padding: 8px 0;color: #989292;">2 2464 1300</b>                                        - opción 2, o marca <b style="margin: 0;padding: 8px 0;color: #989292;">*1300</b>                                        (desde celulares), e indícanos el código de tu reserva.</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
        <table class="footer-wrap" style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;clear: both!important;">
            <tr style="margin: 0;padding: 0;">
                <td style="margin: 0;padding: 0;"></td>
                <td class="container" style="margin: 0 auto!important;padding: 0;display: block!important;clear: both!important;">
                    <div class="content" style="margin: 0 auto;padding: 10px 5px 0;display: block;">
                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                            <tr style="margin: 0;padding: 0;">
                                <td style="margin: 0;padding: 0;">
                                    <div class="borde-top borde-bottom" style="padding: 15px;margin: 0;border-bottom: 1px solid #d3d3d3;border-top: 1px solid #d3d3d3;">
                                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                                            <tr style="margin: 0;padding: 0;">
                                                <td class="td-space" style="margin: 0;padding: 0;width: 30%;">&nbsp;</td>
                                                <td align="center" valign="middle" width="24" class="mcnFollowIconContent" style="margin: 0;padding: 0;"> <a href="https://www.facebook.com/Cochaviajes" target="_blank" style="margin: 0;padding: 0;"> <img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png" style="display: block;margin: 1px 0;padding: 0;max-width: 100%;" height="24" width="24" class="" alt="Facebook"></a></td>
                                                <td align="center" valign="middle" width="24" class="mcnFollowIconContent" style="margin: 0;padding: 0;"> <a href="https://twitter.com/cochaviajes" target="_blank" style="margin: 0;padding: 0;"> <img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png" style="display: block;margin: 1px 0;padding: 0;max-width: 100%;" height="24" width="24" class="" alt="Twitter"></a></td>
                                                <td align="center" valign="middle" width="24" class="mcnFollowIconContent" style="margin: 0;padding: 0;"> <a href="https://www.youtube.com/channel/UC4H7ewqROY9nkSaJi2psPPg" target="_blank"
                                                        style="margin: 0;padding: 0;"> <img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-youtube-48.png" style="display: block;margin: 1px 0;padding: 0;max-width: 100%;" height="24" width="24" class="" alt="Youtube"></a></td>
                                                <td align="center" valign="middle" width="24" class="mcnFollowIconContent" style="margin: 0;padding: 0;"> <a href="https://instagram.com/cochaviajes/" target="_blank" style="margin: 0;padding: 0;"> <img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-instagram-48.png" style="display: block;margin: 1px 0;padding: 0;max-width: 100%;" height="24" width="24" class="" alt="Instagram"></a></td>
                                                <td align="center" valign="middle" width="24" class="mcnFollowIconContent" style="margin: 0;padding: 0;"> <a href="https://pinterest.com/cochaviajes/" target="_blank" style="margin: 0;padding: 0;"> <img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-pinterest-48.png" style="display: block;margin: 1px 0;padding: 0;max-width: 100%;" height="24" width="24" class="" alt="Pinterest"></a></td>
                                                <td class="td-space" style="margin: 0;padding: 0;width: 30%;">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr style="margin: 0;padding: 0;">
                                <td style="margin: 0;padding: 0;">&nbsp;</td>
                            </tr>
                        </table>
                        <table style="margin: 0;padding: 0;height: 100%;border-collapse: collapse;width: 100%;">
                            <tr style="margin: 0;padding: 0;">
                                <td align="center" style="margin: 0;padding: 0;">
                                    <p class="smoth" style="margin: 0;padding: 6px 5px 5px;color: #989292;">Copyright 2016 | COCHA.com, All rights reserved. Turismo COCHA S.A. | El Bosque Norte
                                        0430, Las Condes, Santiago - Chile Ante cualquier duda puedes contactarte con nosotros
                                        al número <b style="margin: 0;padding: 8px 0;color: #989292;">22464 1300</b>, desde
                                        celulares al <b style="margin: 0;padding: 8px 0;color: #989292;">*1300</b> o escribirnos
                                        <a href="mailto:agenteinternet@cocha.com" style="margin: 0;padding: 0;color: #989292;">aquí</a>.</p>
                                </td>
                            </tr>
                            <tr style="margin: 0;padding: 0;">
                                <td style="margin: 0;padding: 0;">&nbsp;</td>
                            </tr>
                            <tr style="margin: 0;padding: 0;">
                                <td align="center" style="margin: 0;padding: 0;">
                                    <p class="smoth" style="margin: 0;padding: 6px 5px 5px;color: #989292;"> <a href="#" style="margin: 0;padding: 0;color: #989292;">Terminos y condiciones</a> |
                                        <a href="http://www.cocha.com/politicas-de-privacidad" style="margin: 0;padding: 0;color: #989292;">Políticas de privacidad</a>
                                    </p>
                                </td>
                            </tr>
                            <tr style="margin: 0;padding: 0;">
                                <td align="center" style="margin: 0;padding: 0;">
                                    <p class="smoth" style="margin: 0;padding: 6px 5px 5px;color: #989292;">Supplied by Travelscape LLC</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td style="margin: 0;padding: 0;"></td>
            </tr>
        </table>
    </div>
</body>

</html>