<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Voucher traslado</title>
    <style>
        body {
            color: #51514f;
            margin: 0px;
            font-family: Arial;
            font-size: 9px;
            
        }

        .wrapper {
            position: relative;
            max-width: 750px;
            width: 90vw;
        }

        .container {
            max-width: 700px;
            width: 80vw;
            position: absolute;
            margin: 20px auto;
            left: 0;
            right: 0;
        }

        img.banner-header {
            width: 100%;
        }

        .title-box h4 {
            color: white;
            padding: 7px;
            margin: 0px;
            font-weight: 100;
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .title-box {
            background-color: #51514f;
        }

        .data-box {
            display: block;
        }

        .half-size {}

        h3 {
            margin: 10px 0;
        }

        p {
            margin: 5px 0;
        }

        p.paxName {
            margin: 2px 0;
            width: 32%;
            display: inline-table;
            padding: 0 3px;
        }

        .title-box-big {
            position: relative;
            height: 48px;
            background-color: #51514f;
        }

        .title-box-big p {
            font-size: 14px;
            padding: 15px;
            color: white;
            text-align: center
        }

        .title-box-big p span {
            font-size: 20px;
            margin-left: 10px;
        }

        .policies-box {
            margin-top: 10px;
            padding: 10px;
            background-color: #fcf0dc;
        }

        .policies-box h4 {
            margin-bottom: 0;
        }

        td.mcnFollowIconContent img {
            margin: 0 5px !important;
        }

        .footer-box {
            width: 100%;
        }
        .footer-box-a, .footer-box-b{
            text-align: center;
            width: 50%;
        }
        .footer-box-a{
            float: left;
        }
        .footer-box-b{
            float: right;
        }
        .kuality-box {
            width: 100%;
        }

        .kuality-box * {
            text-align: center;
        }
        .kuality-box h4 {
            margin-bottom: 4px;
        }
        .smoth {
            color: #989292;
            margin: 0;
        }
    </style>
</head>
{{#itineraryTransfer}}

<body>
    <div class="wrapper">
        <div class="container">
            <div class="header">
                <div class="banner">
                    <img class="banner-header" src="https://gallery.mailchimp.com/cf8e3f784ee65fee4bea0e12f/images/40b6f0e8-9e6d-4753-a368-559d9b6c99ba.png"
                        alt="Header">
                </div>
            </div>
            <div class="body">
                <div class="title-box">
                    <h4 style="text-align:center;">VOUCHER DE TRASLADO</h4>
                </div>
                <div class="jumbo" style="height: 40px;border-bottom: 1px solid lightgray;">
                    <h4>Este voucher es transitorio. Dentro de las próximas 72 hrs. hábiles recibirás el voucher definitivo,
                        el cual tienes que presentar al operador en el momento del traslado.</h4>
                </div>
                <div class="title-main">
                    <h3>RESUMEN DEL TRASLADO</h3>
                </div>

                <div class="data-box full-size" style="position: relative;height: 135px;">
                    <div class="data-box half-size" style="border: 1px solid lightgray;height: 120px;position: absolute;width: 49%;">
                        <div class="title-box">
                            <h4>Datos del servicio</h4>
                        </div>

                        <div style="border-bottom: 1px solid lightgray;padding: 0 5px;">
                            <p>
                                <b>Nombre</b>
                            </p>
                            <p>{{mainPassenger}}</p>
                        </div>
                        <div style="padding: 0 5px;">
                            <p><b>Servicio&nbsp;{{{transfersType}}}</b></p>
                            <p>Traslado Aeropuerto {{{airport}}} - Alojamiento {{hotel}}</p>
                        </div>
                    </div>
                    <div class="data-box half-size" style="border: 1px solid lightgray;height: 120px;position: absolute;float:right;right: 0;width: 49%;">
                        <div class="title-box">
                            <h4>Datos generales</h4>
                        </div>
                        <div style="padding: 0 5px;">
                            <p>Ciudad: {{{destination}}}, {{{country}}}</p>
                            <p>Origen: Aeropuerto {{{airport}}}</p>
                            <p>Destino: Alojamiento {{hotel}}</p>
                        </div>
                    </div>
                </div>
                <div class="data-box full-size" style="margin-bottom: 10px;">
                    <div class="title-box">
                        <h4>Datos pasajeros</h4>
                    </div>
                    <div class="data-box full-size" style="border-bottom: 1px solid lightgray;border-left: 1px solid lightgray;border-right: 1px solid lightgray;padding: 10px 0;">
                        {{#passengers}}
                        <p class="paxName">{{firstName}}&nbsp;{{lastName}}</p>{{/passengers}}
                    </div>
                </div>
                <div class="title-box-big">
                    <div style="display: inline-table;height: 30px;bottom: 0;top: 0;left: 0;width: 100%;position: absolute;right: 0;margin: auto;">
                        <p style="padding: 0;margin: auto;color: white;position: absolute;left: 0;right: 0;">N° DE VUELO ASOCIADO <span style="padding-top: 0px;display: inline-flex;margin: auto;color: white;font-size: 20px;font-weight: 600;">{{flightNumberA}}</span></p>
                    </div>
                </div>
                <div class="policies-box">
                    <h3>Información importante</h3>
                    <h4>Lugar de ubicación del traslado</h4>
                    <p>{{{locationTransfers}}}</p>
                    <h4>Sillas de guagua</h4>
                    <p>{{{babyChairs}}}</p>
                    <h4>Equipaje permitido</h4>
                    <p>{{{baggageIncluded}}}</p>
                    <h4>Politicas de cancelación</h4>
                    <p>{{{cancellationPolicy}}}</p>
                </div>
                <div class="footer-box">
                    <div class="footer-box-a">
                        <h4>Contáctanos</h4>
                        <p class="smoth">Contacto operador:&nbsp;{{{provider}}}&nbsp;{{{phoneContact}}}</p>
                    </div>
                    <div class="footer-box-b">
                        <h4>Voucher emitido por</h4>
                        <p class="smoth">Kuality Reps.</p>
                        <p class="smoth">Teléfono: +562 377 8500</p>
                        <p class="smoth">Emergencia: +562 464 1200</p>
                        <p>&nbsp;</p>
                    </div>
                </div>
                    <p style="font-size: 9px; text-align: center;">La prestación de los servicios contratados por el pasajero es resposabilidad del operador indicado. Kuality
                        actúa como intermediario entre ambos.</p>
            </div>
        </div>
    </div>
    <script>
        setTimeout(function () { window.PHANTOM_HTML_TO_PDF_READY = true; }, 500);
    </script>


</body>
{{/itineraryTransfer}}

</html>